$breakpoint-mobile: 320px;
$breakpoint-tablet: 481px;
$breakpoint-desktop: 769px;

$primary: rgba(144, 202, 249, 1);
$primary-30: rgba(144, 202, 249, 0.3);
$secondary: rgba(187, 222, 251, 1);
$secondary-30: rgba(187, 222, 251, 0.3);
$accent: #2962FF;

$btn-cancel: rgba(244, 67, 54, 1);
$btn-cancel-50: rgba(244, 67, 54, 0.5);
$btn-success: rgba(76, 175, 80, 1);
$btn-success-50: rgba(76, 175, 80, 0.5);

$letter-color: #0d47a1;
