$breakpoint-mobile: 320px;
$breakpoint-tablet: 481px;
$breakpoint-desktop: 769px;

$primary: rgba(41, 98, 255, 1);
$primary-30: rgba(41, 98, 255, 0.3);
$secondary: rgba(130, 177, 255, 1);

$btn-cancel: rgba(244, 67, 54, 1);
$btn-cancel-50: rgba(244, 67, 54, 0.5);
$btn-success: rgba(76, 175, 80, 1);
$btn-success-50: rgba(76, 175, 80, 0.5);
