<div class="modal" *ngIf="display">
  <div class="modal__container">
    <div class="modal__header">
      <span>{{ card ? "EDIT CARD" : "NEW CARD" }}</span>
    </div>
    <div class="modal__content">
      <!-- TODO add markdown content-->
      <div class="modal__input-label">
        <label class="modal__label">Title</label>
        <input class="modal__input" placeholder="Friday dinner" />
      </div>
      <div class="modal__input-label">
        <label class="modal__label">Content</label>
        <textarea
          class="modal__input"
          rows="8"
          placeholder="Book a table for a dinner at 19h"
        ></textarea>
      </div>
    </div>
    <div class="modal__actions">
      <button
        class="modal__action-btn modal__action-btn--cancel"
        (click)="onCloseModal()"
      >
        Cancel
      </button>
      <button class="modal__action-btn modal__action-btn--success">Save</button>
    </div>
  </div>
</div>
