@import "abstracts/mixins";
@import "abstracts/variables";

.column {
  margin: 0.25rem;

  @include screen("mobile") {
    width: 90vw;
  }
  @include screen("desktop") {
    width: 30vw;
  }

  &__header {
    border-radius: 10px 10px 0 0;
    border: 1px solid $primary-30;
    background: $primary;
    position: sticky;
    display: flex;
  }

  &__title {
    font-size: large;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 0.25rem;

    margin: 0.5rem;
  }

  &__icon {
    color: white;
    padding-top: 0.25rem;
    // margin: 0.5rem;
  }

  &__content {
    background: $secondary;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid $primary-30;
    height: 85vh;
    overflow-y: auto;
    padding: 0.5rem;
  }
}
