<app-header></app-header>
<main class="board">
  <app-column [title]="column" *ngFor="let column of columns$ | async">
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>Jesus is alive!</p>
    <p>KING</p>
  </app-column>
</main>
